// Custom.scss
// Option A: Include all of Bootstrap

@import "sass/variables";

@import "node_modules/bootstrap/scss/bootstrap";

.navbar-cmp-dark {
  @extend .navbar-dark;
  font-size: 90%;
  height: 2.4375rem;
  .navbar-nav {
    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.navbar-cmp {
  .navbar-brand {
    color: $navbar-cmp-active-color;

    @include hover-focus {
      color: $navbar-cmp-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-cmp-color;

      @include hover-focus {
        color: $navbar-cmp-hover-color;
      }

      &.disabled {
        color: $navbar-cmp-disabled-color;
      }

      padding-top: $nav-link-padding-y / 4;
      padding-bottom: $nav-link-padding-y / 4;
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-cmp-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-cmp-color;
    border-color: $navbar-cmp-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-cmp-color;
    a {
      color: $navbar-cmp-active-color;

      @include hover-focus {
        color: $navbar-cmp-active-color;
      }
    }
  }

}

$top-gutter: .4rem;

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");

body{
  padding-top: $top-gutter;
  font-family: "Oswald", "Open Sans", Helvetica, sans;
}

.font-open-sans{
  font-family: "Open Sans";
}
.font-oswald{
  font-family: "Oswald";
}

.bg-cmp-nav{
	background: $bg-main-nav;
	background: -moz-linear-gradient(top, $bg-main-nav-gradient-start 0%, $bg-main-nav-gradient-end 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $bg-main-nav-gradient-start), color-stop(100%, $bg-main-nav-gradient-end));
	background: -webkit-linear-gradient(top, $bg-main-nav-gradient-start 0%, $bg-main-nav-gradient-end 100%);
	background: -o-linear-gradient(top, $bg-main-nav-gradient-start 0%, $bg-main-nav-gradient-end 100%);
	background: -ms-linear-gradient(top, $bg-main-nav-gradient-start 0%, $bg-main-nav-gradient-end 100%);
	background: linear-gradient(to bottom, $bg-main-nav-gradient-start 0%, $bg-main-nav-gradient-end 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$bg-main-nav-gradient-start}', endColorstr='#{$bg-main-nav-gradient-end}', GradientType=0 );
}

$badge-width-xs: 11rem;
$badge-height-xs: 4.8rem;
$badge-width-sm: $badge-width-xs * 1.73;
$badge-height-sm: $badge-height-xs * 1.458333;

$badge-padd-fill: ($badge-width-sm / 2)*0.8;


$badge-angle-height-xs: $badge-height-xs*0.788541;
$badge-angle-width-xs: $badge-height-xs*0.270833;

$badge-angle-height-sm: $badge-height-sm*0.828571;
$badge-angle-width-sm: $badge-height-sm*0.270833;

.badge-cmp{
  background: $body-bg;
  @include size($badge-width-xs, $badge-height-xs);
  position: absolute;
  left: 30px;
  top: $top-gutter - 0.1rem;
  box-shadow: 0   3px 5px rgba(51, 51, 51, 0.05), 
              3px 3px 3px rgba(51, 51, 51, 0.05), 
             -3px 3px 3px rgba(51, 51, 51, 0.05);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  z-index: 1;
  
  -webkit-filter: drop-shadow(0px 3px 3px rgba(51,51,51, 0.35));
  filter        : drop-shadow(0px 3px 3px rgba(51,51,51, 0.35));

  -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=3, Color='#333')";
  filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=3, Color='#333')";



  &::after{
    content: ' ';
    border-bottom: $badge-angle-height-xs solid transparent;
    border-left: $badge-angle-width-xs solid $body-bg;
    float: right;
    position: absolute;
    top: 0;
    right: ($badge-angle-width-xs * -1) + 0.05rem;
  }
  &::before{
    content: ' ';
    border-bottom: $badge-angle-height-xs solid transparent;
    border-right: $badge-angle-width-xs solid $body-bg;
    float: left;
    position: absolute;
    top: 0;
    left: ($badge-angle-width-xs * -1) + 0.05rem;
  }
  @include media-breakpoint-up('sm') {
    @include size($badge-width-sm, $badge-height-sm);
    &::after{
      border-bottom-width: $badge-angle-height-sm;
      border-left-width: $badge-angle-width-sm;
      right: ($badge-angle-width-sm * -1) + 0.05rem;
    }

    &::before{
      border-bottom-width: $badge-angle-height-sm;
      border-right-width: $badge-angle-width-sm;
      left: ($badge-angle-width-sm * -1) + 0.05rem;
    }  
  }
  @include media-breakpoint-up('lg') {
    left: calc(50% - #{$badge-padd-fill});
  }

  .badge-cmp-wrapper{
    position: relative;
    display: block;
    margin: auto auto;
    text-align: center;
    padding-bottom: 1em;
  }
}



@include media-breakpoint-down('md') {

  .navbar-cmp{
    .navbar-collapse{
      ul:first-child{
        margin-top: 72px;
      }
    }
  }

}

section#header{
  min-height: 7.25rem;
}

.list-group-fit{
  .list-group-item{
    padding: 0.25rem 1.25rem 0.15rem 1.25rem;
    border-left: none;
    border-right: none;
  }

  .list-group-item:first-child{
    border-top: none;
    @include border-radius(0);
  }

  .list-group-item:last-child{
    border-bottom: none;
    @include border-radius(0);
  }
}

.jumbotron-slider {
  padding: 0;
  margin-bottom: $jumbotron-padding;
  background: $body-bg url('img/fondo.jpg') repeat 0 -90px;
  @include border-radius(0);
  min-height: 480px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }

  .cmp-highlight-title{
    color: $primary-blue;
  }

  @include media-breakpoint-down(xs) {
    .cmp-highlight-title{
      font-size: 1.7rem;
    }
  }

}

.header-cmp{
  color: $primary-blue;
  
}

.header-underlined{
  border-bottom: 2px solid $gray-300;
}

.cmp-bordered-header{
  border-top: 2px solid $primary-blue;
  color: $primary-blue;
  display: inline;
  border-bottom: 2px solid $primary-blue;
  margin-bottom: .75rem;
}

.btn-fill{
  width: 100%;
}

.carousel-fit{

  .carousel-control-prev, .carousel-control-next{
    width: 5%;
  }

  .carousel-inner{
    width: 90%;
    margin: auto auto;
  }
}

.item-vendido{
  width: 100%;
  @include text-truncate();
  .btn{
    white-space: wrap;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}
/*

$footer-bg-primary: #17386d;
$footer-bg-secondary: #112851;
$footer-bg-divider: #c9cbca;
*/

hr.footer-divider{
  height: 10px;
  border:none;
  background: $footer-bg-divider;
}

#footer{
  background: $footer-bg-primary;
  padding-top: 1rem;
  min-height: 300px;
  width: 100%;
  color: $body-bg;

  .footer-title{
    color: $body-bg;
    border-bottom: 1px solid $body-bg;
    text-indent: 0.75rem;
  }
}

#footer-note{
  color: white;
  background: $footer-bg-secondary;
  height: 40px;
  padding-top: 10px;
  width: 100%;
}

.purchase-link{
  background: #ffc107;
  font-size: 110%;
  padding-top: 1em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.height-hack{
  height: 0;
}

$color-comprar: map-get($theme-colors, "warning");

.btn-comprar-ahora{
  @include button-variant($color-comprar, $color-comprar, lighten($color-comprar, 5%));
  color: white;
  font-weight: bold;
  border-radius: 0 0 15px 15px;
  height: 2.75rem;
  position: relative;
  top: 0.2rem;
  text-shadow: 0px 1px 1px #00000055;
}


#carousel-jumbotron .carousel-item{
  min-height: 30em;
  // position: relative;
}

.img-carousel{
  height: 480px;
}

.carousel-floating-content{
  position: absolute;
  top: 0;
}

.btn.btn-more-rounded{
  border-radius: 10px;
}

.icon-footer{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.capitalize{
  text-transform: capitalize;
}