hr.footer-divider.my-1

section#footer
  div.container.font-open-sans
    div.row
      div.col-12.col-sm-4
        div.pt-3.pb-4
          img.img-fluid.d-block.mx-auto(src="img/logo-oscuro.png")
      div.col-12.col-sm-4
        div
          h3.footer-title CONTACTO
          ul.list-unstyled
            li 
              img(src="img/iconos/iconos vector-05.png").icon-footer
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
            li 
              img(src="img/iconos/iconos vector-07.png").icon-footer
              | Lorem ipsum dolor sit amet
            li 
              img(src="img/iconos/iconos vector-02.png").icon-footer
              | +51 999 999999
            li 
              img(src="img/iconos/iconos vector-04.png").icon-footer
              | mail@mail.er
            li 
              img(src="img/iconos/iconos vector-06.png").icon-footer
              | @SocialMedia
            li 
              img(src="img/iconos/iconos vector-03.png").icon-footer
              | @SocialMedia
      div.col-12.col-sm-4
        div.pb-3
          img.img-fluid.d-block.mx-auto(src=placehold_url+"/300x250?text=facebook-page")
section#footer-note
  p(align="center") 
    span CONSORCIO MASTER PERÚ 
    span.font-open-sans &copy; Todos los derechos reservados
script(src="scripts.js")
