section#header
  nav.navbar.navbar-expand-lg.navbar-cmp.bg-cmp-nav
    .container
      a.navbar-brand.d-lg-none(href="#") &nbsp;
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar-top-collapse")
        span.navbar-toggler-icon

      div.collapse.navbar-collapse#navbar-top-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="#") Inicio 
          li.nav-item
            a.nav-link(href="#") Nuestra Empresa 
          li.nav-item
            a.nav-link(href="#") Marcas
        
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="#") Productos
          li.nav-item
            a.nav-link(href="#") Servicios
          li.nav-item
            a.nav-link(href="#") Contáctenos

  div.badge-cmp
    div.badge-cmp-wrapper
      img(src="img/logo-claro.png").img-fluid

  nav.navbar.navbar-expand-lg.navbar-cmp-dark.bg-dark.d-none.d-lg-block
    .container
      a.navbar-brand.d-md-none(href="#") &nbsp;
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#secondary-navbar-collapse")
        span.navbar-toggler-icon

      div.collapse.navbar-collapse#secondary-navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="#") Capacitaciones

          li.nav-item
            a.nav-link(href="#") Novedades

          li.nav-item
            a.nav-link(href="#") Consejos

        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="#") Atención al Cliente
        //
        form.form-inline.height-hack
          a.btn.btn-comprar-ahora(href="#") COMPRA ONLINE

          //- li.nav-item
          //-   a.nav-link.purchase-link(href="#") Compra Online

  div.clearfix

