div.text-center.mb-3
  h1.cmp-bordered-header.font-weight-bold Lo más vendidos

div.container
  div#carousel-vendidos.carousel.slide.carousel-fit
    div.carousel-inner
      each slide in [1, 2, 3]
        - var cname = slide==1 ? 'active' : ''
        div.carousel-item(class=cname)
          div.row.no-gutters.clearfix
            each foto in ['balatas', 'bolsa-suspension', 'disco-freno', 'liquidos', 'muelles', 'pastillas']
              div.col-sm-2.col-xs-6
                div.item-vendido.p-1
                  div.mb-2
                    img.img-fluid.d-block.mx-auto(src='img/productos/'+foto+'.jpg')

                  a.btn.btn-sm.btn-fill.btn-cmp-blue.font-oswald.text-truncate.rounded.mb-2.capitalize(href="#")=foto
                  div
                    img.img-fluid(src='img/fiamaster-mini.png')
    a.carousel-control-prev(href="#carousel-vendidos", data-slide="prev")
      span.carousel-control-prev-icon
    a.carousel-control-next(href="#carousel-vendidos", data-slide="next")
      span.carousel-control-next-icon