doctype html
html
  include ../partials/head.pug
  body
    include ../partials/header.pug
    p &nbsp;

    div.text-center.mb-3
      h1.cmp-bordered-header.font-weight-bold Marcas
    
    div.container.font-open-sans

      div.text-center.mb-3
        img(src="img/logo-fiamaster-max.png").img-fluid
        hr
        div.row.clearfix
          div.col-12.col-sm-6
            img(src="img/logo-fritec.png").img-fluid
            p.text-left
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          div.col-12.col-sm-6
            img(src="img/logo-fremax.png").img-fluid
            p.text-left
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    include ../partials/slider-vendidos.pug
    include ../partials/foot.pug
