doctype html
html
  include ../partials/head.pug
  body
    include ../partials/header.pug
    p &nbsp;

    div.text-center.mb-4
      h1.cmp-bordered-header.font-weight-bold Novedades
    
    .container
        .row.clearfix
            .col-12.col-sm-9.font-open-sans
                article
                    h2.bottom-bordered Título noticia 1
                    img.img-fluid.d-block.mx-auto(src="img/noticia-fullwidth.png")
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quo sit iure omnis. Ipsum, exercitationem minus? Repellat itaque placeat praesentium facere numquam. Eos doloremque praesentium unde quam, perspiciatis eaque sed!
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quo sit iure omnis. Ipsum, exercitationem minus? Repellat itaque placeat praesentium facere numquam. Eos doloremque praesentium unde quam, perspiciatis eaque sed!
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quo sit iure omnis. Ipsum, exercitationem minus? Repellat itaque placeat praesentium facere numquam. Eos doloremque praesentium unde quam, perspiciatis eaque sed!
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quo sit iure omnis. Ipsum, exercitationem minus? Repellat itaque placeat praesentium facere numquam. Eos doloremque praesentium unde quam, perspiciatis eaque sed!
                    .text-right
                        a.btn.btn-primary-dark.rounded-button(href="#") Compatir
                    .post-metadata.text-right
                        a(href="#").px-2
                            i.fas.fa-star.mr-1
                            | Novedades
                        a(href="#").px-2
                            i.fas.fa-calendar.mr-1
                            | 14 Junio 2018
                hr.post-separator
            .col-12.col-sm-3
                .mb-3
                    h2.bottom-bordered Escríbenos
                    ul.list-squared
                        li NOVEDADES
                        li CONSEJOS
                        li PROMOCIONES
                        li BOLETINES
                .mb-3
                    img.img-fluid.d-block.mx-auto(src="img/banner-1.png")
                .mb-3
                    img.img-fluid.d-block.mx-auto(src="img/banner-2.png")

    include ../partials/foot.pug
