doctype html
html
  include ../partials/head.pug
  body
    include ../partials/header.pug
    p &nbsp;

    div.text-center.mb-4
      h1.cmp-bordered-header.font-weight-bold Nuestra Empresa
    
    .container
        .row.clearfix.mb-4
            .col-12.col-md-6
                img.img-fluid.d-block.mx-auto(src="img/empresa-1.png")
            .col-12.col-md-6.font-open-sans
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, omnis. Ab ratione labore mollitia reprehenderit sit nemo eius rerum vel quos, non architecto, harum aliquid atque adipisci delectus beatae nobis?
                  | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum blanditiis eaque quibusdam ipsa quam ratione corrupti non nihil quaerat recusandae, illo id. Debitis tenetur possimus beatae quod suscipit ab hic.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, omnis. Ab ratione labore mollitia reprehenderit sit nemo eius rerum vel quos, non architecto, harum aliquid atque adipisci delectus beatae nobis?
                  | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum blanditiis eaque quibusdam ipsa quam ratione corrupti non nihil quaerat recusandae, illo id. Debitis tenetur possimus beatae quod suscipit ab hic.
        .row.clearfix.mb-4
            .col-12.col-md-6.font-open-sans
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, omnis. Ab ratione labore mollitia reprehenderit sit nemo eius rerum vel quos, non architecto, harum aliquid atque adipisci delectus beatae nobis?
                  | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum blanditiis eaque quibusdam ipsa quam ratione corrupti non nihil quaerat recusandae, illo id. Debitis tenetur possimus beatae quod suscipit ab hic.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, omnis. Ab ratione labore mollitia reprehenderit sit nemo eius rerum vel quos, non architecto, harum aliquid atque adipisci delectus beatae nobis?
                  | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum blanditiis eaque quibusdam ipsa quam ratione corrupti non nihil quaerat recusandae, illo id. Debitis tenetur possimus beatae quod suscipit ab hic.
            .col-12.col-md-6
                img.img-fluid.d-block.mx-auto(src="img/empresa-2.png")
        hr
        .row.clearfix
            .col-12.col-md-6
                .media
                    img.my-auto.mr-3(src="img/mision.png")
                    .media-body
                        h2.header-colored Misión
                        p.font-open-sans Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quo sit iure omnis. Ipsum, exercitationem minus? Repellat itaque placeat praesentium facere numquam. Eos doloremque praesentium unde quam, perspiciatis eaque sed!
            .col-12.col-md-6
                .media
                    img.my-auto.mr-3(src="img/vision.png")
                    .media-body
                        h2.header-colored Visión
                        p.font-open-sans Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quo sit iure omnis. Ipsum, exercitationem minus? Repellat itaque placeat praesentium facere numquam. Eos doloremque praesentium unde quam, perspiciatis eaque sed!
    include ../partials/foot.pug
